body {
  background: white !important;
}

.container {
  min-height: calc(100vh-70px) !important;
}

h1 {
  color: crimson !important
}

.glyphicon-music {
  color: crimson !important;
}

.glyphicon:hover {
  text-decoration: none !important;
}

#add-desc {
  font-weight: bold !important;
  color: crimson !important;
}

code {
  background: rgba(0,0,0,0) !important;
  color: crimson !important
}

 .comment {
  color: grey !important
}

.text-right {
  margin-right: 1em !important;
}

body {
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

html {
  min-height: 100% !important;
  position: relative !important;
}

#footer {
  bottom: 0 !important;
  width: 100% !important;
  position: absolute !important;
  height: 60px !important;
  background-color: #f5f5f5 !important;
}

.footer-block {
  margin: 20px 0 !important;
}

  #header {
    top: 0 !important;
    width: 100% !important;
    position: absolute !important;
    height: 60px !important;
    background-color: whitesmoke !important;
  }

  a:hover {
    color: steelblue !important;
    text-decoration: none !important
  }

.nav-element:hover {
    font-weight: bold !important;
  }

  @media only screen and (max-width: 500px) {
    img {
      width: 200px !important;
    }
  }
